/*
snowdrop color palette
    brown: 422803,  rgb(66,40,3)
    green: 547564, rgb(84,117,100)
    ice: C3E2E2, rgb(195,226,226)
    snow: EAEFEF, rgb(234,239,239)

*/
.brown {
    color: rgb(66,40,3);
}
.brownback {
    background-color: rgb(66,40,3);
}

.ivy {
    color: rgb(84,117,100);
}
.ivyback {
    background-color: rgb(84,117,100);
}
.ivy-opaque{
     background-color: rgba(84,117,100, 0.7);
}
.ice{
    color: rgb(195,226,226);
}
.iceback{
    background-color:  rgb(195,226,226);
}
.ice-opaque{
    background-color:  rgba(195,226,226, 0.7);
}
.snow{
    color: rgb(234,239,239);
}
.snowback{
    background-color: rgb(234,239,239);
    background-size: cover;
}




html {
    overflow-x: hidden;
}

body {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    /*padding-top: 110px;*/
}

h1, h2, h3 {
    font-family: 'Sacramento', cursive;
}

a:link {
    text-decoration: none;
}

.btn {
    text-align: left !important;
}

.btn-default {
    color: rgb(84,117,100);
    background-color: rgb(234,239,239);
    border-color: rgb(84,117,100);
    margin-top: 5px;
}

    .btn-default:hover {
        background-color: rgba(162, 188, 189, 1.0);
        color: rgb(234,239,239);
    }

p.main {
    text-align: justify;
}

.burgundy {
    background-color: rgba(106, 9, 29, 1.0);
}

.gold {
    background-color: rgba(103, 88, 57, 1.0);
}

.darkgreen {
    color: darkgreen;
}

.burgundy-opaque{
    background-color: rgba(106, 9, 29, 0.4);
}

.greyback {
    background-color: #f9f7f7;
}

.white {
    color: white;
}

.mint {
       color: rgba(162, 188, 189, 1.0);
}
.mintback {
      background-color: rgba(162, 188, 189, 1.0);
}

.mint-opaque{
    background-color: rgba(162, 188, 189, 0.7);
}


hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.glyphicon_large {
    font-size: 2.5em;
}

.overlay {
    color: #fff;
    position: absolute;
    z-index: 12;
    top: 80%;
    width: 100%;
    text-align: center;
}

.box-shadow {
    box-shadow: 10px 10px 5px #888888;
}

.border {
    border: 1px solid lightgrey
}

.border-right {
    border-right: 1px solid lightgrey;
}

.margin-right {
    margin-right: 15px;
}

.margin-top {
    margin-top: 15px;
}

.margin-all {
    margin: 15px;
}

.divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }


.content-container {
    position: relative;
    width: auto;
    height: 250px;
}
.content-container div {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.navbar {
    margin-bottom: 0px;
    padding: 10px 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background: rgba(105, 105, 105, 0.7);
}

.navbar-default {
    border: none;
}


    .navbar-default .navbar-nav > li > a {
        color: snow;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        background: none;
        color: snow;
    }

.icon-bar {
    color: rgba(103, 88, 57, 1.0);
}

#title {
    color: snow;
    font-size: 0.5em;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.heading {
    font-family: 'Sacramento', cursive;
    font-size: 1.5em;
    color: rgb(84,117,100);
}

.heading-white {
    color: snow;
    font-family: 'Sacramento', cursive;
}

#overlay h1 {
    margin-bottom: 0px!important;
}

.bold {
    font-weight: bold;
}

.article-title {
     font-weight: bold;
     color: rgba(103, 88, 57, 1.0);

}

.description {
    font-size: 0.7em;
    text-align: left justify;
}

@media (max-width: 320px) {
    h3 {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    #party p {
        font-size: 16px;
    }
}

@media (max-width: 2000px) {
    .navbar-header {
        position: relative;
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 70%;
    }

    .navbar-default {
        background: none;
        border: none;
    }

    .navbar-collapse {
        border-top: 0;
        background: rgba(105, 105, 105, 0.7);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

        .navbar-nav > li {
            float: none;
        }

    .navbar-default .navbar-nav > li > a {
        font-size: 1.5em;
        float: none;
    }

    .collapse.in {
        display: block !important;
    }

    .dropdown-toggle {
        border: none;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: snow;
    }
}

.text-background {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1'><text x='300' y='300' fill='white' font-size='1.0em'>#nickandkatiegetmerry</text></svg>");
    background-size: cover;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
}

.text-background-fill {
    background-color: lightgreen;
    max-height: 200px;
}


.cbp-af-header-shrink {
    padding-top: 1px;
    padding-bottom: 1px;
    opacity: 0.9;
    background-color: rgba(106, 9, 29, 0.7);
}

.fill-screen {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    max-height: 350px;
}

.title-row {
    position: relative;
    min-height: 300px;
}

.title-image {
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.down-button {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

    .down-button i {
        color: white;
    }

.fixed-attachment {
    background-attachment: scroll;
}

@media (max-width: 1024px) {
    .fixed-attachment {
        background-attachment: scroll;
    }
}

.text-banner {
    text-align: center;
    padding: 40px 20px;
    /*margin: 40px 20px;*/
}

    .text-banner h1 {
        font-size: 60px;
        color: rgb(84,117,100);
    }

    .text-banner p {
        font-size: 18px;
    }

.registry-section {
    padding: 50px;
}

.registry-element {
    text-align: center;
}

    .registry-element img {
        width: 65%;
    }

#thumbs img {
    width: 3.0em;
    height: 3.0em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 35px;
    border: 1px solid rgba(103, 88, 57, 1.0);
    /*border: solid 2px rgba(103, 88, 57, 1.0);*/
}

    #thumbs img:hover {
        filter: blur(0.4px);
        box-shadow: 5px 2px 2px grey;
    }

#bio img {
    width: 7.0em;
    height: 7.0em;
    display: inline-block;
    float:left;
    /*padding-right: 10px;*/
    margin-right: 10px;
    /*border-right: 1px solid lightgrey;*/

}

.font3em {
    font-size: 3.0em;
}

.partyname{
    font-size: 1.5em;
}

.goldfont{
    color: rgba(103, 88, 57, 1.0);
}

.goldborder{
    border: 1px solid  rgba(103, 88, 57, 1.0);
}



.grow {
    transition: all .2s ease-in-out;
}

    .grow:hover {
        transform: scale(1.2);
        z-index: 3;
    }


#party p {
    font-size: 16px;
    text-align: left;
    padding-left: 10px;
    padding-right: 5px;
    color: rgb(234,239,239);
}

#party h1, h2, h3 {
   color: rgb(234,239,239);
}

.party-section {
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0px !important;
    padding-left: 0px !important;
}


#hotel p, h3 {
    text-align: left!important;
}


#faq p {
    text-align: justify;
}
#faq h1, h2, h3 {
   color: rgb(234,239,239);
}

#schedule p, h4 {
     text-align: justify;
     color:rgb(84,117,100);
}

#schedule a {
    color:  rgba(162, 188, 189, 1.0);
}

.padding-bottom20px {
    padding-bottom: 20px;
}

.padding-none {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.line {
    width: 100%;
    height: 1px;
    background-color: lightgrey;
    display: inline-block;
    
}

.time {
    text-align: right;
}

.details {
    text-align: left;
}


#ceremony h3 {
    text-align: justify;
}

#reception p, h3 {
    text-align: justify;
}



.full-screen {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

footer {
    padding: 10px;
    text-align: center;
}

    footer img {
        width: 50px;
        height: 50px;
        border: 1px solid white;
    }

aside {
    background-color: #f7f7f7;
    text-align: center;
    padding-top: 40px;
}

.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
    opacity: 0.9;
}


/* The following code is used to create same-sized columns 
   in a multi-column layout.
   Code from:  
   http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height
*/
/* columns of same height styles */
.container-xs-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
}

.row-xs-height {
    display: table-row;
}

.col-xs-height {
    display: table-cell;
    float: none;
}

@media (min-width: 768px) {
    .container-sm-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
    }

    .row-sm-height {
        display: table-row;
    }

    .col-sm-height {
        display: table-cell;
        float: none;
    }
}

@media (min-width: 992px) {
    .container-md-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
    }

    .row-md-height {
        display: table-row;
    }

    .col-md-height {
        display: table-cell;
        float: none;
    }
}

@media (min-width: 1200px) {
    .container-lg-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
    }

    .row-lg-height {
        display: table-row;
    }

    .col-lg-height {
        display: table-cell;
        float: none;
    }
}


/* USAGE
<div class="row">
  <div class="row-height">
    <div class="col-xs-2 col-xs-height col-xs-middle">
      <div class="inside"></div>
    </div>
    <div class="col-xs-4 col-lg-5 col-xs-height col-xs-middle">
      <div class="inside"></div>
    </div>
  </div>
</div>
*/

/* content styles */

.inside {
    margin-top: 20px;
    margin-bottom: 20px;
}

.inside-full-height {
    /*
  // if you want to give content full height give him height: 100%;
  // with content full height you can't apply margins to the content
  // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
  */
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

/* columns of same height styles */

.row-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.col-height {
    display: table-cell;
    float: none;
    height: 100%;
}

.col-top {
    vertical-align: top;
}

.col-middle {
    vertical-align: middle;
}

.col-bottom {
    vertical-align: bottom;
}

@media (min-width: 480px) {
    .row-xs-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }

    .col-xs-height {
        display: table-cell;
        float: none;
        height: 100%;
    }

    .col-xs-top {
        vertical-align: top;
    }

    .col-xs-middle {
        vertical-align: middle;
    }

    .col-xs-bottom {
        vertical-align: bottom;
    }
}

@media (min-width: 768px) {
    .row-sm-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }

    .col-sm-height {
        display: table-cell;
        float: none;
        height: 100%;
    }

    .col-sm-top {
        vertical-align: top;
    }

    .col-sm-middle {
        vertical-align: middle;
    }

    .col-sm-bottom {
        vertical-align: bottom;
    }
}

@media (min-width: 992px) {
    .row-md-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }

    .col-md-height {
        display: table-cell;
        float: none;
        height: 100%;
    }

    .col-md-top {
        vertical-align: top;
    }

    .col-md-middle {
        vertical-align: middle;
    }

    .col-md-bottom {
        vertical-align: bottom;
    }
}

@media (min-width: 1200px) {
    .row-lg-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }

    .col-lg-height {
        display: table-cell;
        float: none;
        height: 100%;
    }

    .col-lg-top {
        vertical-align: top;
    }

    .col-lg-middle {
        vertical-align: middle;
    }

    .col-lg-bottom {
        vertical-align: bottom;
    }
}
